*-debug.log
*-error.log
/.nyc_output
dist
/lib
/tmp
node_modules
.vscode
.idea
.npmrc
.env
.env.production
src/coverage

/logs

*/lib
tsconfig.tsbuildinfo

.vite

# database
readwriteburn.db
