*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
node_modules
.vscode
.idea
.npmrc
.env
.env.production
src/coverage 

/logs

*/lib
tsconfig.tsbuildinfo

.vite

# pre-built trailbase binary when used locally as docker alternative
/trail
